body {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 800px;
  /*height: 500px;*/
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
  width: 700px;
  height: 700px;
}


#board td{
  border: 1px solid #ddd;
  /*width: 18px;
  height: 18px;*/
}

.generations {
  position: absolute;
  top: 50px;
  left: 25px;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  margin: 0 auto;
  background-color: #8CC8DD;

}

#gen2{
  left: 91%;
}

#gen3{
  top: 750px;
  left: 91%;
}

#gen4{
  top: 750px;
}

td.alive {
  background-color: #8CC8DD;
}

td.dead {
  background-color: #fff;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}
