body {
  position: relative;
  /*text-align: center;*/
  margin: 0 auto;
  /*padding: 10px;*/
  /*width: 600px;*/
  /*height: 500px;*/
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
  width: 600px;
  height: 600px;
}


#board td{
  border: 1px solid #ddd;
  /*width: 18px;
  height: 18px;*/
}

#genDiv{
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.generations {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  margin: 0 auto;
  background-color: #8CC8DD;

}

#gen1{
  left: 0px;
}

#gen2{
  left: 550px;
}

#gen3{
  top: 550px;
  left: 550px;
}

#gen4{
  top: 550px;
}

td.alive {
  background-color: #8CC8DD;
}

td.dead {
  background-color: #fff;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}

footer {
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 5%;
}
