body {
  padding: 10px;
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #999;
  width: 16px;
  height: 16px;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}